<<<<<<< HEAD
.header {
  background-color: #0c2845d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  font-weight: bold;
  font-family: "Gloock", serif;
  font-family: "Shadows Into Light", cursive;
}

.logo-container {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #75785a;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: auto;
  cursor: pointer;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  transition: max-width 0.5s ease-in-out, max-height 0.5s ease-in-out;
}
.logo-container:hover .logo {
  max-width: 130%; /* Increase the size slightly */
  max-height: 130%;
  background-color: #070706;
}
=======
/* Header.css */

/* Common styles */
.header {
  background-color: #007bff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

>>>>>>> 605ff0441b6bc933cf085d32597e383a0424ca37
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
<<<<<<< HEAD
  margin-right: 3rem;
  font-size: 2rem;
=======
  margin-right: 1rem;
>>>>>>> 605ff0441b6bc933cf085d32597e383a0424ca37
}

a {
  color: white;
  text-decoration: none;
<<<<<<< HEAD

  transition: color 0.3s, font-size 0.5s ease-in-out;
}

a:hover {
  color: #070706;
  font-size: 3rem;
=======
  transition: color 0.3s;
}

a:hover {
  color: #e0e0e0;
>>>>>>> 605ff0441b6bc933cf085d32597e383a0424ca37
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  z-index: 10;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s;
}

/* Mobile menu styles */
@media (max-width: 768px) {
  .header.open {
<<<<<<< HEAD
    background-color: #0c2845d9;
=======
    background-color: rgba(0, 123, 255, 0.9);
>>>>>>> 605ff0441b6bc933cf085d32597e383a0424ca37
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  .hamburger {
    display: flex;
  }

  /* Dropdown animation */
  ul.nav-enter {
    animation: fadeIn 0.3s ease-in-out;
  }

  ul.nav-exit {
    opacity: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  ul {
    flex-direction: column;
  }

  li {
    margin: 0.5rem 0;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
  }

  a:hover {
    color: #e0e0e0;
  }
}

/* Dropdown animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
